C 0 0 "A" 0 0 0 0 60 0 L
L 200 0 0 0 -1 0
C 0 -500 "K" 0 -500 0 0 60 0 L
L 200 -500 0 -500 -1 0
C 900 -500 "C" 900 -500 0 0 60 0 R
L 700 -500 900 -500 -1 0
C 900 0 "E" 900 0 0 0 60 0 R
L 700 0 900 0 -1 0
L 530 -320 550 -300 -1 0
L 550 -300 570 -340 -1 0
L 570 -340 530 -320 -1 0
L 500 -220 600 -120 -1 0
L 500 -170 500 -320 -1 0
L 500 -270 600 -370 -1 0
L 200 100 200 -600 -1 0
L 700 -600 200 -600 -1 0
L 700 -600 700 100 -1 0
L 200 100 700 100 -1 0
L 700 0 600 0 -1 0
L 600 -120 600 0 -1 0
L 700 -500 600 -500 -1 0
L 600 -370 600 -500 -1 0
L 300 -300 400 -300 -1 0
L 350 -300 400 -200 -1 0
L 400 -200 300 -200 -1 0
L 300 -200 350 -300 -1 0
L 200 0 350 0 -1 0
L 350 -200 350 0 -1 0
L 200 -500 350 -500 -1 0
L 350 -300 350 -500 -1 0
P "$LOCATION" "?" 700 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

